<header>
  <div class="h-main">
    <div class="h-div">
      <h2>MovieMinds</h2>
    </div>
    <app-autocomplete></app-autocomplete>
    <div class="h-sub">
      <a
        routerLink="/"
        routerLinkActive="active-link"
        class="h-p"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a routerLink="/about" routerLinkActive="active-link" class="h-p"
        >About</a
      >
      <span (click)="addmovie()" class="material-symbols-outlined">add</span>
      <div [hidden]="!profile_icon">
        <app-dropdown></app-dropdown>
      </div>
      <button class="h-btn" [hidden]="profile_icon" (click)="navigate()">
        Signin
      </button>
    </div>
  </div>
</header>
