<header>
  <div class="h-main">
    <div>
      <h2>MovieMinds</h2>
    </div>
    <div>
      <input type="text" name="" class="h-text" placeholder="Search Movie..." />
    </div>
    <div class="h-sub">
      <a href="/" class="h-p">Home</a>
      <a href="/about" class="h-p">About</a>
     <p class="h-p">WatchList</p>

      <a href="/addmovie">
        <span class="material-symbols-outlined">add</span>
      </a>

      <a href="/sign-up"><button class="h-btn">Signup</button></a>
    </div>
  </div>
</header>
