<header>
  <div class="h-main">
    <div>
      <h2>MovieMinds</h2>
    </div>
    <div>
      <input type="text" name="" class="h-text" placeholder="Search Movie..." />
    </div>
    <div class="h-sub">
      <a href="/" class="h-p">Home</a>
      <a href="/about" class="h-p">About</a>
      <p class="h-p">WatchList</p>
      <!-- <select name="" class="sort-header" (change)="saverange($event)">
        <option value="0">Sort</option>
        <option value="1" class="sortoption">by name</option>
        <option value="2" class="sortoption">by year</option>
      </select> -->
      <a href="/sign-up"><button class="h-btn">Signup</button></a>
    </div>
  </div>
</header>
