<footer>
  <div>
    <h2 class="f-h">MovieMinds</h2>
  </div>
  <div class="f-text">
    <p class="p-f">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis mattis
      erat. Nunc finibus turpis ac odio porttitor eleifend. Nam dui mi, ornare a
      turpis porttitor, efficitur rutrum arcu. Duis mattis bibendum leo sed
      consectetur. Suspendisse vel consectetur mauris. Proin maximus
      sollicitudin odio
    </p>
  </div>
  <div class="controller">
    <input type="text" name="" placeholder="Email" id="" class="f-controller" />
    <button class="f-controller">SUBSCRIBE</button>
  </div>
</footer>
