<div class="main">
  <h2 class="signin-h">Signin</h2>
  <form [formGroup]="signinForm" (submit)="onSubmit()" class="signin-form">
    <input
      type="email"
      class="inp"
      placeholder="Email"
      formControlName="email"
    />
    <input
      type="password"
      class="inp"
      placeholder="Password"
      formControlName="password"
    />
    <button class="signin-btn" id="btn">Signin</button>
    <div class="signin-ques-div">
      <p class="signin-p">Don't have an account ?</p>
      <span class="signin-link" (click)="navigate()"> Signup </span>
    </div>
  </form>
</div>
