<div
  style="
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 88vh;
 
    padding-bottom: 7%;
  "
>
<h2 style="color: white; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-style: italic;">Signin</h2>
  <form
  [formGroup]="signinForm"
  (submit)="onSubmit()"
    style="
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 35px;
      background-color: #3e3c3b;
      border-radius: 12px;
      
    "
  >
    <input type="email" class="inp" placeholder="Email" formControlName="email" />
    <input type="password" class="inp" placeholder="Password"formControlName="password" />
    <button class="inp" id="btn" style="background-color: #956643;">Signin</button>
    <div style="display: flex; gap: 4px;">
      <p style="margin: 0; color: white;">Don't have an account ?</p>
      <span style="color: #305cde;cursor: pointer;" (click)="navigate()"> Signup </span>
    </div>
  </form>
</div>
