.card-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(26, 24, 30);
  border-color: white;
  border-radius: 10px;
  transition: all 0.8s;
  width: 410px;
}

.card-sub {
  display: flex;
  gap: 8px;
  align-items: center;
}

.img {
  height: 245px;
  width: 200px;
  border-radius: 10px;
}

h4 {
  text-align: center;
  margin: 0;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
  padding-top: 10px;
}

.details {
  display: flex;
  flex-direction: column;
}

.card-d {
  width: 200px;
}

.controller {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.c-de {
  font-family: cursive;
  font-style: italic;
  color: white;
  text-align: center;
}

.c-r {
  color: white;
  font-family: fantasy;
}

.c-rv {
  color: gold;
}

.container {
  max-width: 410px;
}

.c-genre {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.card-main:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 14px rgb(83, 83, 167);
}
.img {
  object-fit: cover;
}
