<div class="container">
  <div class="card-main">
    <div class="card-sub">
      <div class="img-div">
        <img src={{image}} class="img" alt="notfound">
      </div>
      <div class="details">
        <h2>{{ title }}</h2>
        <div class="card-d">
          <p class="c-de">
            {{description}}
          </p>
        </div>
        <span class="c-genre">Genre : {{ genre }}</span>
        <div></div>

        <div class="controller">
          <div>
            <button class="c-btn">Watch ↻</button>
          </div>
          <div>
            <p class="c-r">
              Rating : <span class="c-rv"> {{ rating }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
