<div class="a-main">
  <h2 class="text-f">ABOUT US</h2>
  <div class="para-f">
    <p class="p-f">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut nisl
      nec ante euismod pharetra a vitae metus. Pellentesque vitae orci quis
      felis posuere mollis pulvinar vel nunc. Donec tincidunt arcu sit amet
      consequat sollicitudin. Phasellus vel ligula quis est ultrices elementum
      vitae ut massa. Maecenas varius sollicitudin felis sed congue. Duis
      dignissim ex urna, at ullamcorper nunc maximus ac. Morbi eget dolor orci.
      Nunc in tincidunt dolor, nec pellentesque enim. Cras ornare risus nibh,
      sed scelerisque justo suscipit et. Sed ligula nulla, posuere nec
      condimentum vitae, gravida vel mi. Ut laoreet sit amet velit sed
      ultricies. Nunc porta, tortor vel pellentesque tristique, enim erat
      finibus quam, eget interdum turpis velit in ante. Aliquam nec orci odio.
      Mauris est enim, semper ac ultricies non, tincidunt et turpis. Nunc semper
      pharetra volutpat. Integer a risus dolor. Donec vel porttitor turpis. Sed
      mollis nulla augue, ut consequat nibh placerat eget. Morbi a orci ac sem
      sodales porta vel ac dui. Mauris congue tortor odio, id sodales magna
      pharetra quis. Mauris tempus nunc non enim feugiat, et cursus orci
      commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Curabitur libero libero, aliquet et magna et, volutpat tempus risus.
      Maecenas ipsum orci, bibendum nec aliquam egestas, aliquam sed quam.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia curae; Sed eu turpis id velit sagittis pharetra mattis ut lectus.
      In venenatis nec risus eget euismod. Integer tempus lacus quis dui
      eleifend, quis dapibus est imperdiet. Cras id lacus nec magna pellentesque
      vestibulum sed eget arcu.
    </p>
  </div>
</div>
