h2 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}
.sup-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
}
.sup-sub {
  display: flex;
  gap: 8px;
}
.sub-sub2 {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.spcontroller {
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}
.sup-Main {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sup-subb {
  padding: 25px;
}
#supbtn {
  background-color: #956643;
  color: white;
  cursor: pointer;
}
#supbtn:hover {
  opacity: 80%;
}
