<div class="sup-main">
  <h2>Signup</h2>
  <div class="sup-subb">
    <div class="sup-Main">
      <div class="sup-sub">
        <input type="text" class="spcontroller" placeholder="FirstName" />
        <input type="text" class="spcontroller" placeholder="LastName" />
      </div>
      <div class="sub-sub2">
        <input
          type="email"
          name=""
          id=""
          class="spcontroller"
          placeholder="Email"
        />
        <input
          type="password"
          name=""
          id=""
          class="spcontroller"
          placeholder="Password"
        />
        <input
          type="password"
          name=""
          id=""
          class="spcontroller"
          placeholder="ConfirmPassword"
        />
        <input type="button" value="Submit" class="spcontroller" id="supbtn" />
      </div>
    </div>
  </div>
</div>
