<div class="signup-main">
  <h2 class="signup-h">Signin</h2>

  <form [formGroup]="signupForm" (submit)="onSubmit()" class="signup-form">
    <div class="sub-1">
      <input
        type="text"
        placeholder="Firstname"
        class="inp"
        formControlName="firstName"
      />
      <input
        type="text"
        placeholder="Lastname"
        class="inp"
        formControlName="lastName"
      />
    </div>
    <div class="sub-1">
      <select class="signup-selectbox" formControlName="countryCode">
        <option value="">Countrycode</option>
        <option value="+91" class="signup-option">+91</option>
        <option value="+21" class="signup-option">+21</option>
        <option value="+23" class="signup-option">+23</option>
      </select>

      <input
        type="number"
        placeholder="Phonenumber"
        class="signup-number"
        formControlName="mobileNumber"
      />
    </div>
    <div class="signup-part1">
      <p class="signup-dob">Enter your date of birth</p>
      <div class="sub-1">
        <div class="signup-dob-div">
          <input
            type="date"
            value="+91"
            class="signup-date"
            formControlName="dob"
          />
          <i class="fa fa-times" id="signup-dob-cancel" (click)="clear()"></i>
        </div>
        <select class="signup-gender-selectbox" formControlName="gender">
          <option value="" class="signup-option">Gender</option>
          <option value="Male" class="signup-option">Male</option>
          <option value="Female" class="signup-option">Female</option>
        </select>
      </div>
    </div>
    <div class="signup-email-div">
      <input
        type="email"
        name=""
        class="inp"
        placeholder="Email"
        formControlName="email"
      />
      <input
        type="password"
        name=""
        class="inp"
        placeholder="Password"
        formControlName="password"
      />
      <button class="signup-btn" id="btn">Signup</button>
    </div>

    <div class="signup-part2">
      <p class="signup-p">Already have an account ?</p>
      <span class="signin-link" (click)="navigate()">Signin</span>
    </div>
  </form>
</div>
