<div class="card-btn">
  <button class="c-btn">Watch ↻</button>
</div>
<div class="movie-main">
  <div class="movie-1">
    <p class="card-p">
      {{ movie.title | uppercase }} [{{ movie.releaseDate | date : "yyy" }}]
    </p>
    <div class="play-icon" (click)="play()">
      <i
        class="fa fa-play"
        aria-hidden="true"
        style="color: white; font-size: 20px"
      ></i>
    </div>
    <div style="height:300px ; width:500px ;display: flex; justify-content: center;background-color: #3a3735; border-radius: 20px; align-items: center;">
      <img [src]="movie.file.path" alt="" class="card-img" />

    </div>
    <div style="display: flex; gap: 10px">
      <button class="like-btn" (click)="Like()">
        <i class="fa fa-thumbs-up" aria-hidden="true" id="like"></i>
        <label class="icon-label">Like</label>
      </button>
      <button class="dislike-btn" (click)="Dislike()">
        <i class="fa fa-thumbs-down" aria-hidden="true" id="dislike"></i>
        <label class="icon-label">Dislike</label>
      </button>
    </div>
  </div>
  <div class="movie-2">
    <div>
      <p class="card-des">{{ movie.description }}</p>
    </div>
    <h5 class="card-genre">DIRECTOR : {{ movie.director }}</h5>
    <h5 class="card-genre">GENRE : {{ movie.genre }}</h5>
    <div class="card-all">
      <div class="card-ic">
        <i class="fa fa-eye" aria-hidden="true"></i>
        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </div>
      <div class="card-value">
        <span class="card-v">{{ movie.views }}</span>
        <span class="card-v">{{ movieLike }}</span>
        <span class="card-v">{{ movieDislike }}</span>
        <span class="card-v">{{ movie.rating }}</span>
      </div>
    </div>
    <div style="display: flex; justify-content: flex-end">
      <div style="display: flex; gap: 10px">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <span class="card-v">{{movie.duration}}</span>
      </div>
    </div>
  </div>
</div>
