.no-caret::after {
    display: none !important;
}
.dropdown-menu {
    background-color: black !important;
}

.dropdown-menu button {
    color: white !important;
}

.dropdown-menu button:hover {
    background-color: #333 !important; 
}
