@if(filter){
<div class="trending-main">
  <div class="filter-main-div">
    <div class="filter-sub">
      <label class="filter-label">From Date</label>
      <div class="filter-date-div">
        <input
          type="date"
          name="date1"
          id=""
          class="filter"
          [formControl]="date1"
          style="border: none"
        />
        <i
          class="fa fa-times"
          aria-hidden="true"
          id="filter-date-cancel"
          (click)="cancelD1()"
        ></i>
      </div>
    </div>
    <div class="filter-date-icon">
      <label class="filter-label">To Date</label>
      <div class="filter-date-div">
        <input
          type="date"
          name="date2"
          id=""
          class="filter"
          [formControl]="date2"
          style="border: none"
        />
        <i
          class="fa fa-times"
          aria-hidden="true"
          id="filter-date-cancel"
          (click)="cancelD2()"
        ></i>
      </div>
    </div>
    <div class="filter-date-wrapperdiv">
      <select name="" id="" class="filter-selectbox" id="genre">
        <option value="" class="fiter-option">Select Genre</option>
        <option value="COMEDY" class="fiter-option">COMEDY</option>
        <option value="ACTION" class="fiter-option">ACTION</option>
        <option value="FICTION" class="fiter-option">FICTION</option>
        <option value="HORROR" class="fiter-option">HORROR</option>
        <option value="DRAMA" class="fiter-option">DRAMA</option>
        <option value="ADVENTURE" class="fiter-option">ADVENTURE</option>
        <option value="ANIMATION" class="fiter-option">ANIMATION</option>
        <option value="BIOGRAPHY" class="fiter-option">BIOGRAPHY</option>
        <option value="CRIME" class="fiter-option">FAMILY</option>
        <option value="FANTASY" class="fiter-option">FANTASY</option>
        <option value="FILM_NOIR" class="fiter-option">FILM_NOIR</option>
        <option value="HISTORY" class="fiter-option">HISTORY</option>
        <option value="MUSICAL" class="fiter-option">MUSICAL</option>
        <option value="MYSTERY" class="fiter-option">MYSTERY</option>
        <option value="ROMANCE" class="fiter-option">ROMANCE</option>
        <option value="SCI_FI" class="fiter-option">SCI_FI</option>
        <option value="WAR" class="fiter-option">WAR</option>
        <option value="THRILLER" class="fiter-option">THRILLER</option>
        <option value="SPORT" class="fiter-option">SPORT</option>
        <option value="WESTERN" class="fiter-option">WESTERN</option>
      </select>
    </div>
    <button class="filter-btn" (click)="findData()">Filter</button>
  </div>
</div>

}

<div [hidden]="hidetrend">
  <h2 class="trend-h">Trending Movies</h2>
  <div class="trending-movie">
    <div *ngFor="let item of filterMovie">
      <app-card
        [id]="item.id"
        [director]="item.director"
        [dislikemovie]="item.dislikemovie"
        [movieImage]="item.file.path"
        [likemovie]="item.likemovie"
        [movie_trailer]="item.movie_trailer"
        [releaseDate]="item.releaseDate"
        [title]="item.title"
        [description]="item.description"
        [views]="item.views"
        [rating]="item.rating"
        [genre]="item.genre"
        [duration]="item.duration"
      >
      </app-card>
    </div>
  </div>
</div>

@if(error_nomovie){

<div class="movie-notfount-div">
  <h4 class="movie-notfount-h">No movie found for this genre</h4>
  <img
    src="https://img.freepik.com/free-vector/hand-drawn-no-data-concept_52683-127823.jpg"
    alt="Image not found"
    class="movie-notfount-img"
  />
</div>

} @else{
<div>
  <h2 class="allmovie-h">Movies</h2>
  <div class="home">
    <div *ngFor="let item of movieData">
      <app-card
        [id]="item.id"
        [director]="item.director"
        [dislikemovie]="item.dislikemovie"
        [movieImage]="item.file.path"
        [likemovie]="item.likemovie"
        [movie_trailer]="item.movie_trailer"
        [releaseDate]="item.releaseDate"
        [title]="item.title"
        [description]="item.description"
        [views]="item.views"
        [rating]="item.rating"
        [genre]="item.genre"
        [duration]="item.duration"
      >
      </app-card>
    </div>
  </div>

  <button class="next" (click)="nextMovie()" [hidden]="ishidden">Next</button>
  <button class="prev" (click)="previousMovie()">Previous</button>
</div>
}
