<div class="movie-main">
  <div class="movie-1">
    <input type="text" name="" id="" class="controller" placeholder="Name" />
    <input
      type="text"
      name=""
      id=""
      class="controller"
      placeholder="Director name"
    />
    <label class="movie-label">Enter the movie Release date :</label>
    <input type="date" name="" id="" class="controller" />
    <textarea
      class="controller"
      rows="3"
      cols="3"
      placeholder="Description"
    ></textarea>
    <div class="rating">
      <input
        type="range"
        name=""
        id=""
        min="1"
        max="5"
        value="0"
        class="controller"
      />
      <div class="star">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </div>
    </div>
  </div>
  <div class="movie-2">
    <input type="text" name="" id="" class="controller" />
  </div>
</div>
