p {
  color: white;
}
.heading {
  color: white;
  font-style: italic;
  text-align: center;
  margin: 0;
}

.movie-main {
  display: flex;
  padding: 50px;
}
.movie-1 {
  padding: 70px;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}
.movie-2 {
  padding: 70px;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}
.controller {
  padding: 14px;
  background: transparent;
  outline: none;
  border: 1px solid #956643;
  border-radius: 8px;
  color: white;
}
.movie-label {
  color: white;
  font-family: "Times New Roman", Times, serif;
}
::placeholder {
  color: white;
}
.checked {
  color: orange;
}
.rating {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.rating-star {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.star {
  display: flex;
  gap: 10px;
  font-size: larger;
}
